# **Proyek 2 System Recomendation**

## **Data Preparation**

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
book = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/book_recomendation_data/Books.csv')
ratings = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/book_recomendation_data/Ratings.csv')
users = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/book_recomendation_data/Users.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
book.describe()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
count,271360,271360,271359,271360,271358,271360,271360,271357
unique,271360,242135,102023,202,16807,271044,271044,271041
top,0195153448,Selected Poems,Agatha Christie,2002,Harlequin,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/225307649X.0...
freq,1,27,632,13903,7535,2,2,2

In [ ]:
print(book.info())
book.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB
None

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [ ]:
book.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [ ]:
book['Book-Author'].unique()

array(['Mark P. O. Morford', 'Richard Bruce Wright', "Carlo D'Este", ...,
       'David Biggs', 'Teri Sloat', 'Christopher  Biffle'], dtype=object)

In [ ]:
print(ratings.info())
print(ratings.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB
None
   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [ ]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [ ]:
ratings.groupby('ISBN').sum()

             User-ID  Book-Rating
ISBN
 0330299891   271009            6
 0375404120   356057            3
 0586045007    89192            0
 9022906116   100868            7
 9032803328    89192            0
...              ...          ...
cn113107      107301            0
ooo7156103    266146            7
§423350229     85250            0
´3499128624    86103            8
Ô½crosoft     187517            7

[340556 rows x 2 columns]

In [ ]:
print(users.info())
print(users.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB
None
   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [ ]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [ ]:
print(users['User-ID'].unique())
print(ratings)

[     1      2      3 ... 278856 278857 278858]
         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [ ]:
#resto = pd.merge(rating, resto_info , on='placeID', how='left')
books = pd.merge(book, ratings,  on='ISBN', how='left')

In [ ]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1032345 entries, 0 to 1032344
Data columns (total 10 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1032345 non-null  object
 1   Book-Title           1032345 non-null  object
 2   Book-Author          1032344 non-null  object
 3   Year-Of-Publication  1032345 non-null  object
 4   Publisher            1032343 non-null  object
 5   Image-URL-S          1032345 non-null  object
 6   Image-URL-M          1032345 non-null  object
 7   Image-URL-L          1032341 non-null  object
 8   User-ID              1031136 non-null  float64
 9   Book-Rating          1031136 non-null  float64
dtypes: float64(2), object(8)
memory usage: 86.6+ MB

In [ ]:
title = books['Book-Title'].tolist()
author = books['Book-Author'].tolist()
ISBN = books['ISBN'].tolist()

In [ ]:
#books_clean['rating'].unique()

In [ ]:
books_clean = pd.DataFrame({
    'ISBN':ISBN,
    'title': title,
    'author': author
})
books_clean

,ISBN,title,author
0,0195153448,Classical Mythology,Mark P. O. Morford
1,0002005018,Clara Callan,Richard Bruce Wright
2,0002005018,Clara Callan,Richard Bruce Wright
3,0002005018,Clara Callan,Richard Bruce Wright
4,0002005018,Clara Callan,Richard Bruce Wright
...,...,...,...
1032340,0440400988,There's a Bat in Bunk Five,Paula Danziger
1032341,0525447644,From One to One Hundred,Teri Sloat
1032342,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker
1032343,0192126040,Republic (World's Classics),Plato
1032344,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle

In [ ]:
books_clean = books_clean.drop_duplicates('ISBN')
books_clean = books_clean.drop_duplicates('title')
books_clean

,ISBN,title,author
0,0195153448,Classical Mythology,Mark P. O. Morford
1,0002005018,Clara Callan,Richard Bruce Wright
15,0060973129,Decision in Normandy,Carlo D'Este
18,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
29,0393045218,The Mummies of Urumchi,E. J. W. Barber
...,...,...,...
1032339,0449906736,Flashpoints: Promise and Peril in a New World,Robin Wright
1032341,0525447644,From One to One Hundred,Teri Sloat
1032342,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker
1032343,0192126040,Republic (World's Classics),Plato
1032344,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle

In [ ]:
print(len(books_clean['title'].unique()))
print(len(books_clean['author'].unique()))
print(len(books_clean['ISBN'].unique()))

242135
99686
242135

In [ ]:
books_clean.isnull().sum()

ISBN      0
title     0
author    1
dtype: int64

In [ ]:
books_clean = books_clean.dropna()

In [ ]:
books_clean.isnull().sum()

ISBN      0
title     0
author    0
dtype: int64

In [ ]:
#books_clean.rating = books_clean.rating.astype(int)
#books_clean.rating = books_clean.rating.astype(str)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
books_clean.author.unique()

array(['Mark P. O. Morford', 'Richard Bruce Wright', "Carlo D'Este", ...,
       'David Biggs', 'Teri Sloat', 'Christopher  Biffle'], dtype=object)

In [ ]:
#books_clean[books_clean.rating == '8']

In [ ]:
#books_clean = books_clean.sort_values('rating', ascending=False)

## **Modelling**

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Inisialisasi TfidfVectorizer
tf = TfidfVectorizer(analyzer = 'word')

# Melakukan perhitungan idf pada data cuisine
tf.fit(books_clean.author)

# Mapping array dari fitur index integer ke fitur nama
tf.get_feature_names_out()

array(['00146', '008', '046', ..., 'â¼tz', 'â¼tzendorf', 'ã³n'],
      dtype=object)

In [ ]:
# Melakukan fit lalu ditransformasikan ke bentuk matrix
tfidf_matrix = tf.fit_transform(books_clean['author'])

# Melihat ukuran matrix tfidf
tfidf_matrix.shape

(242134, 47196)

In [ ]:
# Mengubah vektor tf-idf dalam bentuk matriks dengan fungsi todense()
tfidf_matrix.todense()

In [ ]:
# Membuat dataframe untuk melihat tf-idf matrix
# Kolom diisi dengan jenis masakan
# Baris diisi dengan nama resto

pd.DataFrame(
    tfidf_matrix.todense(),
    columns=tf.get_feature_names(),
    index=books_clean.title
).sample(10, axis=1).sample(10, axis=0)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,7,6,9,4,5,2,3,8,1,0
title,,,,,,,,,,
De houdgreep: Roman (Grote ABC),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000
Culture Jam : How to Reverse America's Suicidal Consumer Binge--and Why We Must,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.000000
The Black Stallion's Courage (Black Stallion),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000
Last Things: Death and the Apocalypse in the Middle Ages (The Middle Ages Series),1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
Rosie: My Rufous Hummingbird,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.000000
Amok Journal Sensurround Edition,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.931311,0.364226
Hardwired,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000
Basic Nursing: Theory and Practice,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.000000,0.000000
The Skinny: What Every Skinny Woman Knows About Dieting (And Won't Tell You!),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000
"Henry V, War Criminal? and Other Shakespeare Puzzles (Oxford World's Classics)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

# Menghitung cosine similarity pada matrix tf-idf
cosine_sim = cosine_similarity(tfidf_matrix)
cosine_sim
print('done')

In [ ]:
import tensorflow as tf
tf.test.gpu_device_name()

''